html
    head
        title=title
        link(rel='icon' type='image/png' href="../img/camera.png")
    body
        a(href="/")="HOME"
        a(href="/formulario")="GUARDAR FAVORITOS"
        h1="ERROR 404. Lo siento esa ruta no existe"
    