html
    head
        title=title
        link(rel='icon' type='image/png' href="camera.png")
    body
        a(href="/")="HOME"
        a(href="/formulario")="GUARDAR FAVORITOS"
        h1="Tu película se ha guardado con éxito"
    