div#sheet h2{
  font-size: 65px;
  font-family: "pixel_arial_11regular";
  color: white;
}
p#score{
  font-size: 65px;
  font-family: "pixel_arial_11regular";
}
p.key{
  font-size: 45px;
  font-family: "apparata-lightuploaded_file";
  font-weight: bold;
}
p.value{
  font-size:45px;
  font-family: "apparata-lightuploaded_file";
}
input#butSave {
  font-size: 45px;
  font-family: "apparata-lightuploaded_file";
  line-height: 4vh;
  color: white;
}
/* ----------------------------------------------------------------------
------------------------------------FILM---------------------------------
---------------------------------------------------------------------- */
div#sheet {
  margin: 2vh 2vw 0 2vw;
}
h2#sheetHeader {
  background-color: var(--main-color-hover);
  padding: 1vh 3vw 1vh 3vw;
  border-radius: 10px 10px 0px 0px;
  border-bottom: 3px solid var(--main-color-hover);
  letter-spacing: 0.75vw;
}
div#sheetContent {
  border-radius: 0px 0px 10px 10px;
  border: 2px solid var(--main-color-hover);
  display: flex;
  flex-direction: column;
  padding: 1vw 0 1vw 1vw;
}
div#contentSup {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-bottom: 1vh;
}
#poster {
  height: 450px;
  width: auto;
}
div#det {
  display: flex;
  flex-direction: column;
  margin: 2vw;
}
#score {
  margin: 1vh 0;
}
div.cat {
  display: flex;
  flex-direction: row;
  margin-top: 1vh;
}
.key {
  width: 250px;
}
.value{
  width:100%;
}
div.catFilm {
  margin: 0.5vh 0 1vh 1vw;
}
#butSave {
  padding: 0 8vw;
  text-decoration: none;
  position: relative;
  z-index: 0;
  background-color: var(--main-color-hover);
  border-radius: 0 0 10px 10px;
  line-height: 4vh;
  border-color: var(--main-color-hover);
  margin: 0 0 0 2vw;
}
